Repository DataDog/dogapi-rb, pull requests merged in 2020-04, with the labels that each got.

#229 Update README with additional info on options for submitting metrics
  README.rdoc
Labels: documentation

#231 Release 1.40.0
  CHANGELOG.md
  lib/dogapi/version.rb
Labels: changelog/no-changelog, documentation

#232 start new dev cycle
  lib/dogapi/version.rb
Labels: changelog/no-changelog
