Repository DataDog/dogapi-rb, pull requests merged in 2020-01, with the labels that each got.

#177 Update docs and examples to use `count` instead of deprecated `counter`
  examples/custom_metric.rb
  lib/dogapi/facade.rb
Labels: changelog/no-changelog, documentation

#135 Add dashboard read_only option
  lib/dogapi/facade.rb
  lib/dogapi/v1/dash.rb
  spec/integration/dash_spec.rb
Labels: changelog/Added, kind/feature-request

#214 Update RELEASING.md
  RELEASING.md
Labels: changelog/no-changelog, documentation

#210 Add Synthetics support
  .rubocop_todo.yml
  lib/dogapi/facade.rb
  lib/dogapi/v1.rb
  lib/dogapi/v1/synthetics.rb
  spec/integration/synthetics_spec.rb
Labels: changelog/Added, kind/feature-request

#216 Update RELEASING.md
  RELEASING.md
Labels: changelog/no-changelog, documentation

#200 Added function to deal with redirection of HTTP requests
  lib/dogapi/common.rb
Labels: changelog/Added, community

#146 [capistrano] Add ability to use `etc.getpwuid` instead of `etc.getlogin` to get the user name
  .rubocop_todo.yml
  lib/capistrano/README.md
  lib/capistrano/datadog.rb
  lib/capistrano/datadog/v2.rb
  lib/capistrano/datadog/v3.rb
Labels: changelog/Added

#180 Allow Setting Proxy without Using HTTP_PROXY, etc.
  lib/dogapi/common.rb
  spec/unit/common_spec.rb
Labels: changelog/Added, kind/feature-request

#220 fix indent
  lib/dogapi/common.rb
Labels: changelog/no-changelog
