Repository DataDog/dogapi-rb, pull requests merged in 2020-02, with the labels that each got.

#221 Add *.rdoc pattern to labeler for documentation label
  .github/labeler.yml
Labels: changelog/no-changelog

#222 Release 1.39.0
  CHANGELOG.md
  RELEASING.md
  lib/dogapi/version.rb
Labels: changelog/no-changelog, documentation

#223 Start new dev cycle
  lib/dogapi/version.rb
Labels: changelog/no-changelog

#224 Re-add service level objectives support
  .rubocop_todo.yml
  lib/dogapi/common.rb
  lib/dogapi/facade.rb
  lib/dogapi/v1.rb
  lib/dogapi/v1/service_level_objective.rb
  spec/integration/service_level_objective_spec.rb
Labels: changelog/Added
